---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | OTTEN Yassir" description="About OTTEN Yassir">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/keyboard.jpeg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>As a final-year student pursuing a Bachelor's degree in Computer Science, specializing in Networks and Telecommunications at the Ecole Supérieur d'Informatique (ESI) within the Haute Ecole Bruxelles-Brabant (HE2B) group, I am passionate about all fields of IT. My academic journey has equipped me with extensive knowledge and skills in network administration, configuration, and security, as well as in DevSecOps practices.</p>
					<p>My expertise spans network administration and security, with practical experience in using firewalls such as ASA, Juniper, Palo-Alto, and iptables. Additionally, I have developed strong proficiency in management methodologies like INFOSEC and Agile practices. My curiosity has driven me to explore various aspects of IT, including cybersecurity, networking, and DevSecOps.</p>
					<p>I also possess comprehensive skills in full stack programming, having worked with various technologies and frameworks to develop robust and scalable applications. This includes front-end technologies like HTML, CSS, and JavaScript, as well as back-end technologies such as Laravel, Java , C++, and databases like SQL and NoSQL.</p>
					<p>Looking ahead, I am eager to further my education and career in IT, leveraging my academic foundation and practical experience to make meaningful contributions. With a proactive approach to learning and a commitment to excellence, I am determined to continue growing and making a lasting impact in the field of information technology.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bachelor in Computer Science, specializing in Networks and Telecommunications <a href="https://he2b.be/formations/informaticien-reseaux-et-telecommunications/">(ESI HE2B)</a>.</p>
					<p> <a href="https://www.credly.com/badges/046cecdc-cd65-4de4-a9a4-ddfd7d6a1c4d/public_url"> CCNA: Switching, Routing, and Wireless Essentials</a></p>
					<p><a href="https://www.credly.com/badges/82146441-8719-4446-a0ca-600dc587132d/public_url">CISCO: Introduction to Cybersecurity</a></p>
					<p><a href="https://www.credly.com/badges/511a4d89-ce5e-42a9-be44-6f88dcb01f41/public_url">CISCO: Cyber Threat Management </a></p>
					<p><a href ="https://www.linkedin.com/learning/certificates/b0adc74eceafa7716314a979bd6217e5aca1730c6191645a529a70bb13bd7ed7">Linkedin : Cybersecurity Foundations</a></p>
					<p><a href ="https://www.linkedin.com/learning/certificates/66528cd533274f8eb76beca16da8356ad5b76eb548ddc3557e87ff8d1b97070a">Linkedin : The Cybersecurity Threat Landscape</a></p>
				</div>
			</section>
			<h2 class="section-title">Skills</h2>
    <div class="content">
        <h3>Networking</h3>
        <p><strong>Routing and Switching:</strong> Cisco Devices, All Linux Distributions, Switching, Routing, Wireless, Troubleshooting.</p>
        <p><strong>Security:</strong> Firewalls (ASA, Juniper, Palo-Alto, Iptables), Windows Server, Network Services, Docker, Proxmox, VMware, Virtualization Environment.</p>
        
        <h3>Development</h3>
        <p><strong>Web Languages:</strong> HTML, CSS, JavaScript, PHP.</p>
        <p><strong>Backend:</strong> Java, JavaFX, C, C++, Node.js, Scripting and Automation (as code).</p>
        <p><strong>Databases:</strong> PL/SQL, SQL, NoSQL.</p>
        
        <h3>Cloud and DevSecOps</h3>
        <p><strong>Infrastructure as Code (IaC):</strong> Terraform, Ansible.</p>
        <p><strong>DevSecOps:</strong> Implementation of security practices within CI/CD pipelines, automated security testing.</p>
        
        <h3>Strategy-Minded</h3>
        <p>Agile methodology, SCRUM, Plan-Do-Check-Act, INFOSEC.</p>
    </div>
</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
